.collection_bar{
    height: 50px;
    background-color:white;
    color: black;
}
.womenswear_text{
    margin-left: 50px;
    padding-top: 15px;
}
.sort{
    float: right;
    margin-right: 200px;
}
.sidebar{
    width: 30%;
    height: 800px;
    background-color: white;
    z-index: 10;
}
.body{
    width: 70%;
    height: auto;
    background-color:white;
}