<div class="row">
  <div class="sidebar">
    <button type="menu" class="side_data"><b>Collections</b></button>
    <hr width="50%" color="black">
    <button type="menu" class="side_data_types"(click)="Categories()"><b>Categories</b></button>
    <hr width="50%">
    <button type="menu" class="side_data_types"(click)="Price()"><b>Price</b></button>
    <hr width="50%">
    <button type="menu" class="side_data_types"(click)="Size()"><b>Size</b></button>
    <hr width="50%">
    <button type="menu" class="side_data_types"(click)="Color()"><b>Color</b></button>
    <hr width="50%">
    <button type="menu" class="side_data_types"(click)="Availability()"><b>Availability</b></button>
    <hr width="50%">
  </div>
  <div class="body"></div>
</div>