<div>
  <button type="menu" class="side_data"><b>Collections</b></button>
  <hr width="50%" color="black">
  <div class="side_data_types" (click)="show_hide_categories();"><b>Categories</b>
    <div id="categories">
      <ul>
        <li class="inside_div">
          <a href="#"><b>Dresses</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>Bottoms</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>Tops</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>Accessories</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>Nico Core</b></a>
        </li>
      </ul>
    </div>
  </div>
  <hr width="50%">
  <div class="side_data_types" (click)="show_hide_price()"><b>Price</b>
    <div id="Price">
      <ul>
        <li class="inside_div">
          <a href="#">All women</a>
        </li>
        <li class="inside_div">
          <a href="#">All women</a>
        </li>
        <li class="inside_div">
          <a href="#">All women</a>
        </li>
        <li class="inside_div">
          <a href="#">All women</a>
        </li>
        <li class="inside_div">
          <a href="#">All women</a>
        </li>
      </ul>
    </div>
  </div>
  <hr width="50%">
  <div class="side_data_types" (click)="show_hide_size()"><b>Size</b>
    <div id="Size">
      <ul>
        <li class="inside_div">
          <a href="#"><b>S</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>M</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>XS</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>L</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>XL</b></a>
        </li>
      </ul>
    </div>
  </div>
  <hr width="50%">
  <div class="side_data_types" (click)="show_hide_color()"><b>Color</b>
    <div id="Color">
      <ul>
        <li class="inside_div">
          <a href="#"><b>Blue</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>Ivory</b></a>
        </li>
        <li class="inside_div">
          <a href="#"><b>White</b></a>
        </li>
      </ul>
    </div>
  </div>
  <hr width="50%">
</div>
